{{page-title (concat "Item Details - " @model)}}

<h1>Item Details - {{@model}}</h1>

<p>This is the detail page for item {{@model}}.</p>

<h2>Subitems</h2>
<ul>
  <li>
    <LinkTo
      @route="stacked-page.selected-item.selected-subitem"
      @models={{array @model "subitem1"}}
    >Subitem 1</LinkTo>
  </li>
  <li>
    <LinkTo
      @route="stacked-page.selected-item.selected-subitem"
      @models={{array @model "subitem2"}}
    >Subitem 2</LinkTo>
  </li>
  <li>
    <LinkTo
      @route="stacked-page.selected-item.selected-subitem"
      @models={{array @model "subitem3"}}
    >Subitem 3</LinkTo>
  </li>
</ul>

<button type="button" {{on "click" this.goBack}}>
  Back to List
</button>

{{outlet}}